.additional-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-menu__item {
  background-repeat: no-repeat;
  background-position: center left;

  &:first-child {
    margin-right: auto;
  }
}

.additional-menu__link {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: inherit;

  background-repeat: no-repeat;
  background-position: center left;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $color-purple;
    outline-offset: 2px;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }

  &--login {
    padding-left: 27px;
    background-image: url("../../img/icon/login.svg");
  }

  &--log-in {
    & > span:last-child {
      margin-left: 27px;
      opacity: 0.3;
    }
  }

  &--compare {
    padding-left: 22px;
    background-image: url("../../img/icon/compare.svg");
  }

  &--cart {
    position: relative;
    margin-left: 18px;
    padding-left: 42px;
    background-image: url("../../img/icon/cart.svg");
    background-position: left 15px top 11px;
  }
}

.additional-menu__mark {
  position: absolute;
  bottom: 9px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 21px;
  min-width: 21px;

  font-size: 14px;
  background-color: #ffffff;
  border-radius: 50%;
}
