.carousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(338px, max-content) 90px auto;
  width: 100%;
  margin-bottom: 70px;
}

.carousel__controls {
  grid-column: 1/2;

  position: absolute;
  top: 212px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding-right: 21px;
  padding-left: 30px;

  z-index: 1;
}

.carousel__pagination {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: flex-end;
}

.carousel__button {
  padding: 0;
  width: 20px;
  height: 60px;
  border: none;
  background-color: $color-white;
  cursor: pointer;

  &--last svg {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $color-purple;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.carousel__list {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin: 0;
  padding: 0;

  counter-reset: item;

  list-style-type: none;
}
