.catalog {
  position: relative;
  list-style-type: none;

  z-index: 1;

  &:hover {
    & .catalog__img {
      opacity: 1;
    }

    & .catalog__img--plus {
      display: none;
    }

    & .catalog__img--minus {
      display: inline;
    }

    & .catalog__list {
      visibility: visible;
    }
  }

  &:focus-within .catalog__list {
    visibility: visible;
  }
}

.catalog .catalog__heading {
  display: flex;
  align-items: center;
  width: max-content;
  padding-right: 68px;
}

.catalog .site-menu__link:hover {
  opacity: 1;
}

.catalog__img {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
}

.catalog__img--minus {
  display: none;
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: 253px 211px max-content;
  grid-template-areas:
    "virtual-reality  fitness-bracelets quadrocopters"
    "monopods watches ."
    "action-cameras . .";
  row-gap: 6px;

  margin: 0;
  padding: 0;
  padding-top: 7px;

  font-family: $font-text;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  list-style-type: none;
}

.catalog__item {
  &--virtual-reality {
    grid-area: virtual-reality;
  }

  &--virtual-monopods {
    grid-area: virtual-monopods;
  }

  &--action-cameras {
    grid-area: action-cameras;
  }

  &--fitness-bracelets {
    grid-area: fitness-bracelets;
  }

  &--smart-watches {
    grid-area: watches;
  }

  &--quadrocopters {
    grid-area: quadrocopters;
  }
}

.catalog__link {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $color-purple;
    outline-offset: 2px;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}
