@mixin input-icon($icon, $position) {
  background-image: $icon;
  background-repeat: no-repeat;
  background-position: $position center;
}

.field {
  display: grid;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  border: 2px solid transparent;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &--seach {
    @include input-icon(url("../../img/icon/seach.svg"), left 14px);
  }

  &--name {
    @include input-icon(url("../../img/icon/name.svg"), right 17px);
  }

  &--email {
    @include input-icon(url("../../img/icon/email.svg"), right 17px);
  }
}
