
.range-slider__scale {
  position: relative;
  height: 2px;
  margin: 8px 0;
  background-color: $color-gray;
  border-radius: 2px;
}

.range-slider__toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: $color-light-gray;
  cursor: pointer;

  &:hover {
    &::before {
      opacity: 0.5;
    }
  }

  &:focus {
    outline: 2px solid $color-purple;
    outline-offset: 2px;
  }

  &:active {
    opacity: 1;
    outline: none;

    &::before {
      background-color: $color-black;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $color-light-gray;
    border: 2px solid $color-black;
    border-radius: 50%;
  }

  &--min {
    transform: translate(-50%, -46%);
  }

  &--max {
    right: 0;
    transform: translate(50%, -46%);
  }
}

.range-slider__bar {
  position: absolute;
  height: 2px;
  left: 0;
  width: 119px;
  background-color: $color-black;
}

.range-slider__inputs {
  position: relative;
  left: -14px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6px;

  font-size: 15px;
  opacity: 0.3;
  line-height: normal;
}

.range-slider__label {
  position: relative;

  &:first-child {
    padding-top: 7px;
  }

  &:last-child {
    padding-top: 3px;
  }
}

.range-slider__input {
  position: absolute;
  left: 0;
  width: 70px;
  padding: 0;
  padding-left: 20px;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;

  &:focus {
    outline: 2px solid $color-purple;
    outline-offset: 2px;
  }
}

.range-slider__input::-webkit-outer-spin-button,
.range-slider__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
