.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;

  &:hover .social__img {
    color: $color-yellow-dark;
  }

  &:focus {
    outline: 2px solid $color-purple;
    outline-offset: 2px;
  }

  &:active {
    outline: none;

    & .social__img {
      fill: rgba($color-dark, 0.3);
    }
  }
}

.social__img {
  color: rgba($color-white, 0.3);
  fill: $color-dark;
}
