@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"), url("../fonts/raleway/raleway-800.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"), url("../fonts/rubik/rubik-400.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"), url("../fonts/rubik/rubik-700.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

.additional-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-menu__item {
  background-repeat: no-repeat;
  background-position: center left;
}
.additional-menu__item:first-child {
  margin-right: auto;
}

.additional-menu__link {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: inherit;
  background-repeat: no-repeat;
  background-position: center left;
}
.additional-menu__link:hover {
  opacity: 0.6;
}
.additional-menu__link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.additional-menu__link:active {
  outline: none;
  opacity: 0.3;
}
.additional-menu__link--login {
  padding-left: 27px;
  background-image: url("../../img/icon/login.svg");
}
.additional-menu__link--compare {
  padding-left: 22px;
  background-image: url("../../img/icon/compare.svg");
}
.additional-menu__link--cart {
  position: relative;
  margin-left: 18px;
  padding-left: 42px;
  background-image: url("../../img/icon/cart.svg");
  background-position: left 15px top 11px;
}
.additional-menu__link span {
  position: absolute;
  bottom: 9px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  min-width: 21px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 50%;
}

.button {
  padding: 10px 0 9px;
  background-image: linear-gradient(transparent 15px, #ffe17f 15px 23px, transparent 23px 40px);
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-image: none;
  background-color: #ffe17f;
}
.button:focus {
  outline: 2px solid #af4fff;
}
.button:active {
  outline: none;
  background-color: #ffc700;
}

.carousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(338px, max-content) 90px auto;
}

.carousel__controls {
  grid-column: 1/2;
  position: absolute;
  top: 212px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 21px;
  padding-left: 30px;
  z-index: 1;
}

.carousel__pagination {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-end;
}

.carousel__button {
  padding: 0;
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.carousel__button--last svg {
  transform: rotate(180deg);
}
.carousel__button:hover {
  opacity: 0.6;
}
.carousel__button:focus {
  outline: 2px solid #af4fff;
}
.carousel__button:active {
  outline: none;
  opacity: 0.3;
}

.carousel__list {
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: 0;
  padding: 0;
  counter-reset: item;
  list-style-type: none;
}

.catalog {
  position: relative;
  list-style-type: none;
  z-index: 1;
}
.catalog:hover .catalog__img {
  opacity: 1;
}
.catalog:hover .catalog__img--plus {
  display: none;
}
.catalog:hover .catalog__img--minus {
  display: inline;
}
.catalog:hover .catalog__list {
  visibility: visible;
}
.catalog:focus-within .catalog__list {
  visibility: visible;
}

.catalog .catalog__heading {
  display: flex;
  align-items: center;
  width: max-content;
  padding-right: 68px;
}

.catalog .site-menu__link:hover {
  opacity: 1;
}

.catalog__img {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;
}

.catalog__img--minus {
  display: none;
}

.catalog__list {
  position: relative;
  display: grid;
  grid-template-columns: 253px 211px max-content;
  grid-template-areas: "virtual-reality  fitness-bracelets quadrocopters" "monopods watches ." "action-cameras . .";
  row-gap: 6px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  list-style-type: none;
}

.catalog__item--virtual-reality {
  grid-area: virtual-reality;
}
.catalog__item--virtual-monopods {
  grid-area: virtual-monopods;
}
.catalog__item--action-cameras {
  grid-area: action-cameras;
}
.catalog__item--fitness-bracelets {
  grid-area: fitness-bracelets;
}
.catalog__item--smart-watches {
  grid-area: watches;
}
.catalog__item--quadrocopters {
  grid-area: quadrocopters;
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}
.catalog__link:hover {
  opacity: 0.6;
}
.catalog__link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.catalog__link:active {
  outline: none;
  opacity: 0.3;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories__link {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 32px;
  color: inherit;
  text-decoration: none;
}
.categories__link:hover .categories__img {
  background-color: #ffc700;
}
.categories__link:focus {
  outline: 2px solid #af4fff;
}
.categories__link:active {
  outline: none;
  opacity: 0.3;
}

.categories__heading {
  margin: 0;
  min-height: 60px;
  width: 160px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.categories__img {
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}
.categories__img--virtual-reality {
  background-image: url("../../img/icon/virtual-reality.svg");
  background-size: 97px 55px;
}
.categories__img--monopod {
  background-image: url("../../img/icon/monopod.svg");
  background-size: 87px 117px;
  background-position-y: bottom;
}
.categories__img--action-camera {
  background-image: url("../../img/icon/action-camera.svg");
  background-size: 72px 87px;
}
.categories__img--fitness-bracelet {
  background-image: url("../../img/icon/fitness-bracelet.svg");
  background-size: 108px 66px;
}
.categories__img--smart-watch {
  background-image: url("../../img/icon/smart-watch.svg");
  background-size: 56px 98px;
}
.categories__img--quadrocopter {
  background-image: url("../../img/icon/quadrocopter.svg");
  background-size: 133px 69px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.field {
  display: grid;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
}
.field__input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.field__input:active {
  outline: none;
}
.field__input:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.field__input::placeholder {
  opacity: 0.5;
}

.form__button:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.form__button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.form__button:active:not(:disabled) {
  outline: none;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.form__button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 94px;
  color: #444444;
}

.info__block {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 46px;
}
.info__block::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.info__heading {
  margin: 0;
  margin-bottom: 18px;
  color: #000000;
}

.info__text {
  margin: 0;
}

.info__deliverers-list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.4px;
  list-style-type: none;
  color: #000000;
}

.info__deliverers-item {
  position: relative;
  padding-left: 35px;
}
.info__deliverers-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #ffc700;
}

.info__deliverers-item + .info__deliverers-item {
  margin-top: 19px;
}

.info__button {
  min-width: 270px;
  align-self: start;
}

.info__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.info__address-text {
  margin: 0;
}

.info__phone {
  color: inherit;
}

.info__schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  padding: 43px 60px 0;
  background-color: #ffe17f;
}

.page-header__container {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 26px;
  margin-bottom: 30px;
}

.page-header__logo {
  position: absolute;
  top: -66px;
}
.page-header__logo:hover {
  opacity: 0.6;
}
.page-header__logo:focus {
  outline: 2px solid #af4fff;
}
.page-header__logo:active {
  outline: none;
  opacity: 0.3;
}
.page-header__logo .logo__img {
  color: #000000;
}
.page-header__logo .logo__img .logo__tittle {
  color: #510094;
}

.page-header__seach {
  grid-column: 1/2;
}

.page-header__nav {
  padding-bottom: 28px;
}

.page-main {
  position: relative;
  top: -150px;
}

.page-main__section {
  margin-bottom: 70px;
}

.page {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.page__body {
  margin: 0;
  padding-top: 40px;
}

.page__heading {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__button {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
.pagination__button:hover {
  opacity: 0.6;
}
.pagination__button:focus {
  outline: 2px solid #af4fff;
}
.pagination__button:active {
  outline: none;
  opacity: 0.3;
}

.pagination__button::before {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
}

.pagination__button--current::before {
  background-color: #000000;
}

.seach {
  display: grid;
  grid-template-columns: 357px 160px;
}

.seach__input {
  padding: 9px 10px 8px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-image: url("../../img/icon/seach.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}
.seach__input::placeholder {
  opacity: 0.3;
}

.seach__button {
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.services {
  background-image: linear-gradient(#ffffff 103px, #f0f0f0 103px);
}

.services__container {
  display: grid;
  grid-template-columns: 280px 1fr;
  column-gap: 123px;
  padding-bottom: 72px;
}

.services__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  margin: 0;
  padding: 65px 0;
  list-style-type: none;
}
.services__list::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -7px;
  width: 7px;
  background-color: #000000;
}

.services__button {
  min-width: 160px;
}

.services__description {
  display: none;
  grid-template-columns: 1fr 200px;
  column-gap: 40px;
  row-gap: 34px;
}
.services__description::after {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 7px;
}
.services__description--delivery::after {
  content: url("../../img/icon/delivery.svg");
}
.services__description--guarantee::after {
  content: url("../../img/icon/guarantee.svg");
}
.services__description--credit::after {
  margin-left: 17px;
  content: url("../../img/icon/credit.svg");
}
.services__description--current {
  display: grid;
}

.services__item--current {
  background-color: #000000;
}
.services__item--current .services__button {
  background-image: none;
  color: #ffe17f;
  background-color: #000000;
}
.services__item--current .services__description {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.services__description-list {
  margin: 0;
  padding: 0;
  align-self: center;
  list-style-type: none;
}

.services__heading {
  align-self: end;
  margin: 0;
}

.services__text {
  grid-column: 1/2;
  margin: 0;
}

.site-menu {
  display: flex;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 3.5px;
}
.site-menu .catalog__list {
  visibility: hidden;
}

.site-menu__catalog {
  margin-right: auto;
  padding-bottom: 137px;
}

.site-menu__list {
  position: relative;
  left: -16px;
  display: flex;
  column-gap: 45px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}

.site-menu__item:first-child {
  margin-right: auto;
}

.site-menu__link {
  position: relative;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.site-menu__link:hover {
  opacity: 0.6;
}
.site-menu__link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.site-menu__link:active {
  outline: none;
  opacity: 0.3;
}

.site-menu__heading {
  padding-right: 70px;
}

.slider {
  display: none;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(221px, max-content) minmax(116px, max-content) 90px auto;
  column-gap: 40px;
  counter-increment: item;
}
.slider--current {
  display: grid;
}

.slider__number {
  position: absolute;
  top: 6px;
  right: 50px;
  font-family: inherit;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  color: #ffffff;
}

.slider__heading {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  margin: 0;
  z-index: 1;
}

.slider__text {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  margin: 0;
  word-spacing: 2px;
}

.slider__properties {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: flex-start;
  padding-top: 22px;
  display: flex;
  column-gap: 20px;
}

.slider__feature {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 12px;
  min-width: 120px;
}

.slider__title {
  font-size: 16px;
}

.slider__definition {
  margin: 0;
  font-size: 36px;
}

.slider__list {
  grid-column: 1/2;
  grid-row: 1/-1;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
}
.slider__item--current {
  display: list-item;
}

.slider__button {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: flex-start;
  align-self: center;
  min-width: 220px;
}

.slider__image {
  display: block;
}

.special-offer__link {
  display: grid;
  grid-template-columns: 125px 1fr 125px;
  align-items: center;
  height: 100px;
  text-align: center;
  letter-spacing: 4px;
  color: inherit;
  text-decoration: none;
  background-color: #f0f0f0;
}
.special-offer__link:hover .special-offer__icon {
  background-color: #ffc700;
}
.special-offer__link:hover .special-offer__infomation svg {
  opacity: 1;
}
.special-offer__link:focus {
  outline: 2px solid #af4fff;
}
.special-offer__link:active {
  outline: none;
  opacity: 0.3;
}

.special-offer__icon {
  align-self: stretch;
  background-image: url("../../img/icon/delivery-special.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe17f;
}

.special-offer__text {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.special-offer__infomation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}
.special-offer__infomation svg {
  opacity: 0.3;
}

.subscrintion {
  padding-top: 64px;
  padding-bottom: 56px;
  background-color: #f0f0f0;
}

.subscrintion__header {
  display: grid;
  grid-template-columns: 3fr 2fr 5fr;
  margin-bottom: 144px;
  padding-left: 5px;
}

.subscrintion__heading {
  margin: 0;
}

.subscrintion__text {
  grid-column: 3/4;
  align-self: end;
  margin: 0;
  padding-left: 22px;
  color: #444444;
}

.subscrintion__form {
  display: grid;
  grid-template-columns: 48% 22% 30%;
}

.subscrintion__input {
  padding-left: 16px;
  border: none;
  border-bottom: 3px solid #dcdcdc;
  font-size: 18px;
}
.subscrintion__input:focus {
  background-color: #dcdcdc;
  outline: none;
}
.subscrintion__input--error {
  border-color: #ff3d3d;
}

.subscrintion__button {
  padding: 15px 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border: 3px solid #dcdcdc;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.subscrintion__disclaimer {
  margin: 0;
  align-self: center;
  justify-self: flex-end;
  padding-left: 32px;
  background-image: url("../../img/icon/check.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */