@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2"), url("../fonts/raleway/raleway-800.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2"), url("../fonts/rubik/rubik-400.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2"), url("../fonts/rubik/rubik-700.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

.additional-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-menu__link {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: inherit;
}

.additional-menu__item {
  background-repeat: no-repeat;
  background-position: center left;
}
.additional-menu__item--login {
  margin-right: auto;
  padding-left: 27px;
  background-image: url("../../img/icon/login.svg");
}
.additional-menu__item--compare {
  padding-left: 22px;
  background-image: url("../../img/icon/compare.svg");
}
.additional-menu__item--cart {
  position: relative;
  margin-left: 33px;
  padding-left: 28px;
  background-image: url("../../img/icon/cart.svg");
}
.additional-menu__item--cart span {
  position: absolute;
  bottom: 9px;
  left: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  min-width: 21px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 50%;
}

.button {
  cursor: pointer;
}

.carousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(338px, max-content) 90px auto;
  width: 100%;
}

.carousel__controls {
  grid-column: 1/2;
  position: absolute;
  top: 212px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 30px;
  z-index: 1;
}

.carousel__pagination {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-end;
}

.carousel__button {
  padding: 0;
  width: 20px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.carousel__button--last svg {
  transform: rotate(180deg);
}
.carousel__button:hover {
  opacity: 0.6;
}
.carousel__button:focus {
  outline: 2px solid #af4fff;
}
.carousel__button:active {
  outline: none;
  opacity: 0.3;
}

.carousel__list {
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: 0;
  padding: 0;
  counter-reset: item;
  list-style-type: none;
}

.carousel__item {
  position: relative;
}

.carousel__item::before {
  position: absolute;
  top: 30px;
  right: 50px;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-size: 180px;
  line-height: 135px;
  font-weight: 700;
  color: #ffffff;
}

.catalog {
  position: relative;
  list-style-type: none;
}

.catalog__list {
  position: absolute;
  display: grid;
  grid-template-columns: 253px 211px 211px;
  grid-template-areas: "virtual-reality  fitness-bracelets quadrocopters" "virtual-monopods watches ." "action-cameras . .";
  row-gap: 7px;
  width: max-content;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  list-style-type: none;
}

.catalog__item--virtual-reality {
  grid-area: virtual-reality;
}
.catalog__item--virtual-monopods {
  grid-area: virtual-monopods;
}
.catalog__item--action-cameras {
  grid-area: action-cameras;
}
.catalog__item--fitness-bracelets {
  grid-area: fitness-bracelets;
}
.catalog__item--smart-watches {
  grid-area: watches;
}
.catalog__item--quadrocopters {
  grid-area: quadrocopters;
}

.catalog--nojs.catalog--close .catalog__list {
  visibility: visible;
}

.catalog--close .catalog__list {
  visibility: hidden;
}

.catalog--open .catalog__list {
  visibility: visible;
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}

.catalog__button {
  position: absolute;
  top: 0;
  right: -70px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  background-color: transparent;
}
.catalog__button::after, .catalog__button::before {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: calc(50% - 1px);
  width: 2px;
  background-color: #000000;
}
.catalog__button::after {
  transform: rotate(90deg);
}
.catalog--close .catalog__button::after, .catalog--close .catalog__button::before {
  content: "";
}
.catalog--open .catalog__button::before, .catalog--nojs .catalog__button::before {
  content: none;
}
.catalog--open .catalog__button::after, .catalog--nojs .catalog__button::after {
  content: "";
}

.field {
  display: grid;
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
}

.field__input::placeholder {
  opacity: 1;
}

.page-header {
  padding: 43px 60px 0;
  background-color: #ffe17f;
}

.page-header__container {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 26px;
  margin-bottom: 30px;
}

.page-header__logo {
  position: absolute;
  top: -66px;
}

.page-header__seach {
  grid-column: 1/2;
}

.page-main {
  position: relative;
}

.page-main__section--carousel {
  position: absolute;
  top: -150px;
}

.page {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.page__body {
  width: 1160px;
  margin: 0 auto;
  padding-top: 40px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__button {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
.pagination__button:hover {
  opacity: 0.6;
}
.pagination__button:focus {
  outline: 2px solid #af4fff;
}
.pagination__button:active {
  outline: none;
  opacity: 0.3;
}

.pagination__button::before {
  content: "";
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
}

.pagination__button--current::before {
  background-color: #000000;
}

.seach {
  display: grid;
  grid-template-columns: 357px 160px;
}

.seach__input {
  padding: 9px 10px 8px 48px;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0 0 50px;
  background-image: url("../../img/icon/seach.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.seach__button {
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  background-color: inherit;
}

.site-menu {
  display: flex;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 3.5px;
}

.site-menu__catalog {
  margin-right: auto;
  padding-bottom: 137px;
}

.site-menu__list {
  display: flex;
  column-gap: 45px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-menu__link {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.slider {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(223px, max-content) minmax(115px, max-content) 90px auto;
  column-gap: 40px;
}
.slider--current {
  display: grid;
}

.slider__heading {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  z-index: 1;
}

.slider__description {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  margin: 0;
  word-spacing: 2px;
}

.slider__properties {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: flex-start;
  padding-top: 20px;
  display: flex;
  column-gap: 20px;
}

.slider__feature {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 12px;
  min-width: 120px;
}

.slider__title {
  font-size: 16px;
}

.slider__definition {
  margin: 0;
  font-size: 36px;
}

.slider__list {
  grid-column: 1/2;
  grid-row: 1/-1;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;
}
.slider__item--current {
  display: list-item;
}

.slider__link {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: flex-start;
  align-self: center;
  padding: 5px 35px;
  background-image: linear-gradient(#ffffff 16px, #ffe17f 16px 24px, #ffffff 24px 40px);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.slider__image {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */