$font-heading: "Raleway", "Arial", sans-serif;
$font-text: "Rubik", "Arial", sans-serif;

$color-black:#000000;
$color-dark:#444444;
$color-gray:#dcdcdc;
$color-light-gray:#ebebeb;
$color-light:#f0f0f0;
$color-white:#ffffff;

$color-yellow: #ffe17f;
$color-yellow-dark: #ffc700;
$color-purple: #af4fff;
$color-dark-purple: #510094;
$color-error: #ff3d3d;
$color-warning: #fd912e;
$color-success: #08af00;

$content-desktop-width: 1160px;
