.catalog__container {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.catalog__right-block {
  background-color: $color-white;
}

.catalog__show-more-button {
  margin-top: 44px;

  width: 100%;
  min-height: 55px;
  letter-spacing: 3.5px;
}
