.seach {
  display: grid;
  grid-template-columns: 357px 160px;
  grid-template-rows: max-content;
}

.seach__input {
  grid-column: 1/2;
  padding: 9px 10px 8px 48px;
  border: 2px solid $color-black;
  border-radius: 50px 0 0 50px;
  background-color: transparent;

  &::placeholder {
    opacity: 0.3;
  }
}

.seach__button {
  &:hover,
  &:active:not(:disabled) {
    background-color: transparent;

    & span {
      background-color: $color-black;
    }
  }

  & span {
    display: block;
    padding: 8px 0 9px;
    width: 100%;

    border: 2px solid $color-black;
    border-left: none;
    border-radius: 0 50px 50px 0;
  }
}
