.site-menu {
  display: flex;

  & .catalog-menu__list {
    visibility: hidden;
  }
}

.site-menu__catalog {
  margin-right: auto;
  padding-bottom: 137px;
}

.site-menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}

.site-menu__item {
  &:first-child {
    margin-right: auto;
  }
}

.site-menu__link {
  position: relative;
  display: block;
  padding: 15px 0 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $color-purple;
    outline-offset: 2px;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.site-menu__heading {
  padding-right: 70px;
}
