.slider {
  display: none;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(221px, max-content) minmax(116px, max-content) 90px auto;
  column-gap: 40px;

  counter-increment: item;

  &--current {
    display: grid;
  }
}

.slider__number {
  position: absolute;
  top: 6px;
  right: 50px;
  font-family: inherit;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  color: $color-white;
}

.slider__heading {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: flex-end;
  margin: 0;

  z-index: 1;
}

.slider__text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  margin: 0;

  word-spacing: 2px;
}

.slider__properties {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  align-self: flex-start;

  margin: 0;
  padding-top: 22px;
  display: flex;
  column-gap: 20px;
}

.slider__feature {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 12px;
  min-width: 120px;
}

.slider__title {
  font-size: 16px;
}

.slider__definition {
  margin: 0;
  font-size: 36px;
}

.slider__list {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding: 0;

  list-style-type: none;
}

.slider__item {
  display: none;

  &--current {
    display: list-item;
  }
}

.slider__button {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: flex-start;
  align-self: center;
  min-width: 220px;
}

.slider__image {
  display: block;
}
